<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style type="text/css">
          html { height: 100% }
          body { height: 100%; margin: 0; padding: 0 }
          #map-canvas { height:800px ; width:1000px;}
        </style>
    </head>
    <body>
        bITe proudly presents:.<br/> 
        We know what you did last 30 days. The movie.<br/> 

        <button id="prev"> Prev Day </button> <button id="next"> Next Day </button>
        <div id="time"></div>

        <div id="map-canvas"/>
        

         </div> 

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

       <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkFQQu2HGvcOnyITuKT8hy5_Sq21ZGv7Q&sensor=false">
      </script>


       <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel.js">
      </script>
      

        <script>
/*
          var data=[
            { name:"Tim", start:new Date(2014,1,1), end:new Date(2014,5,1), location:new google.maps.LatLng(50.8503396, 4.3517103)},
            { name:"Friso", start:new Date(2014,1,1), end:new Date(2014,5,1), location:new google.maps.LatLng(50.1503396, 4.1517103)}
          ];
*/

        var drawCircle=function(theMap, theData, radius){

           var mapLabel = new MapLabel({
                       text: theData.details.firstname,
                       position: new google.maps.LatLng(theData.loc[0], theData.loc[1]),
                       map: theMap,
                       fontSize: 10,
                       align: 'right'
                     });

              var populationOptions = {
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: theMap,
                center: new google.maps.LatLng(theData.loc[0], theData.loc[1]),
                radius:  1000*(1+(radius/20))
              };
            var cityCircle = new google.maps.Circle(populationOptions);
            return {
              label: mapLabel,
              circle: cityCircle
            };
        };
        var toTime=new Date();
        var fromTime=new Date(toTime.getTime() - 30*24*60*60000);


        function initialize() {
            var mapOptions = {
              center: new google.maps.LatLng(50.8503396, 4.3517103),
              zoom: 9
            };
          var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);


          $.getJSON("http://timesheetservice.herokuapp.com/dashboard/mapsshowcase").done(function(data){


              var interval=1000*60*60; //hour
              var circles=[];
              var myVar = setInterval(function(){
                  fromTime = new Date(fromTime.getTime() + 6*60000);

                  _.forEach(circles,function(c){
                      c.circle.setMap(null);
                      c.label.setMap(null);
                  })
                  circles=[];
                  
                  var dataForTheHour=_.filter(data,function(d){
                      return (new Date(d.starttime))<=fromTime && (new Date(d.endtime))>=fromTime;
                  });
                  _.forEach(dataForTheHour,function(d){
                      var diff=(new Date(d.endtime)).getTime() - (new Date(d.starttime)).getTime();
                      var diffWithTicker=(new Date(d.endtime)).getTime() - fromTime.getTime();
                      var counterProcent=(d.counter/diff)*(diff-diffWithTicker);
                      circles.push(drawCircle(map,d,counterProcent));
                  })
                  $("#time").text(fromTime);
              },100);


          })


          $("#next").click(function(){
              fromTime = new Date(fromTime.getTime() + 24*60*60000);
          });
          $("#prev").click(function(){
              fromTime = new Date(fromTime.getTime() - 24*60*60000);
          });
            
        };
        google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </body>
</html>
